#AboutExperts{
  margin-left:10px;
}
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section {
  padding: 60px 0;
}

  section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  transform-style: preserve-3d;
  -o-transition: 1s;
  transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

  .frontside .card,
  .backside .card {
    min-height: 312px;
  }

    .backside .card a {
      font-size: 18px;
      color: #007b5e !important;
    }

    .frontside .card .card-title,
    .backside .card .card-title {
      color: #007b5e !important;
    }

    .frontside .card .card-body img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,900);
body {
  background-color: #f44336;
  transition: background-color 300ms;
  font-family: 'Roboto', sans-serif;
  background: url('http://40.media.tumblr.com/6e138b33e7e2fadf3ff47d02fd28d74a/tumblr_nscw8gfVlY1uc3lv1o1_1280.jpg');
  background-repeat: none;
  background-size: cover;
}

.avatar {
  width: 200px;
  height: 200px;
  margin-left: 2em;
  margin-top: 2em;
  border-radius: 200px;
  float: center;
}
.jumbotron {
  background-color: #ffffff;
  border: 1px solid #AAA;
  border-bottom: 3px solid #BBB;
  padding: 0px;
  margin-top: 4em;
  overflow: hidden;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  background: #607D8B;
}

.blue h1, h2, h3 {
  color: #2196F3;
}

.headline {
  color: #FFFFFF;
  margin: 1em;
}
