body {
  margin: 0;
  padding: 0;
}

a.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: orangered;
  font-family: cursive;
  font-weight: 700;
}

nav.main-navigation {
  position: relative;
}

  nav.main-navigation ul.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: right;
  }

.nav-list li.nav-list-item {
  display: inline-block;
  line-height: 40px;
  margin-left: 30px;
  margin-top: 15px;
}


body {
  font-family: 'Poppins', sans-serif;
}

.search-text {
  margin-top: 50px;
  background-color: #7dabdb;
  padding-top: 60px;
  padding-bottom: 60px;
}

  .search-text .input-search {
    height: 45px;
    width: 400px;
    padding-left: 20px;
    color: #333;
  }

  .search-text .btn-search {
    background-color: #7dabdb;
    border: 1px solid #FFF;
    color: #FFF;
    padding: 11px 22px;
  }

    .search-text .btn-search:hover {
      background-color: #FFF;
      color: #7dabdb;
    }

.copyright {
  background-color: #f0f0f0;
}

  .copyright p {
    margin: 15px 0px;
  }

footer {
  background-color: #222222;
  padding: 60px 0px;
}

  footer .menu li a {
    color: #b1aca1;
    padding: 10px;
    text-decoration: none;
  }

    footer .menu li a:hover {
      color: #7dabdb;
    }

.fa.fa-facebook,
.fa.fa-dropbox,
.fa.fa-flickr,
.fa.fa-github,
.fa.fa-linkedin,
.fa, fa-tumblr,
.fa.fa-google-plus,
.fa.fa-tumblr {
  color: #b1aca1;
  font-size: 20px;
  padding: 10px;
}

  .fa.fa-facebook:hover,
  .fa.fa-dropbox:hover,
  .fa.fa-flickr:hover,
  .fa.fa-github:hover,
  .fa.fa-linkedin:hover,
  .fa, fa-tumblr:hover,
  .fa.fa-google-plus:hover,
  .fa.fa-tumblr:hover {
    color: #6794c2;
  }


a.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: #404040;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }


  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    pointer-events: auto;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav-list li {
  animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  animation-fill-mode: both;
}

  .nav-list li:nth-child(1) {
    animation-delay: .3s;
  }

  .nav-list li:nth-child(2) {
    animation-delay: .6s;
  }

  .nav-list li:nth-child(3) {
    animation-delay: .9s;
  }

  .nav-list li:nth-child(4) {
    animation-delay: 1.2s;
  }

  .nav-list li:nth-child(5) {
    animation-delay: 1.5s;
  }

/* Animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
